<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list at npb in postgreSQL</title>
</head>
<body>
    <h1>DBに入っている背番号経歴の一覧です.</h1>

    <h2>検索</h2>
    <form action="/search" method="POST">
        <input type="text" name="teamname" placeholder="チーム名" />
        <input type="text" name="number" placeholder="背番号" />
        <input type="submit" value="search" />
    </form>

    {% for content in contents %}
    <div>
        <p>team <a href="/team/{{content.teamname}}">{{content.teamname}}</a> 背番号: <a href="/uniform/{{content.num}}">{{content.num}}</a> {{content.history}}</p>
    </div>
    {% endfor %}
</body>
</html>